.linkedIn-logo{
    height: 35px;
    padding-left: 45px;

}
.signup_page{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}

.form-section{
    background-color: rgb(255, 255, 255);
    align-items: center;
    width: 400px;
    
    border-radius: 5px;
    
    }   

.form{
    padding: 25px;
   display: flex;
   flex-direction: column;
   gap: 30px;
   padding-top: 40px;
   
   
}
.email-field{
    width: 330px;
    
}
.normal-text{
    color: rgb(101, 101, 101);
    font-size: 12.3px;
    font-weight: 650;
    text-align: center;
}
.span-tags{
    text-align: center;
    
    .link-texts{
        color: rgb(44, 117, 180);
        font-size: 12.3px;
        font-weight: 650;
        cursor: pointer;
    }
}
.agree-btn{
    width: 100%;
    border-radius:24px !important;
    height: 50px;
    background-color: #2e64c0 !important;
    color: white;
   
}
.agree-span{
    font-weight: 600;
    font-size: 15px;
    color: white;
}
.span-line{
    height: 0.08px;
    background: #b2b2b2;
    width: 150px;
}
.or-section{
    display: flex;
    justify-content: space-around;
}
.icon-google{
   height: 20px;
}
.span_google{
    color: #656565;
    font-weight: 500;
    font-family: sans-serif;
}


.login-link{
    text-decoration: none;
    color: #8344ca;
}