.linkedInLogo{
    height: 30px;
    
}
.home-logo{
    height: 24px;
    width: 24px;
    display: flex;
    justify-content: center;
}
/* "bg-gray-900 text-white" */
/* "text-gray-300 hover:bg-gray-700 hover:text-white", */
                /* "px-3 py-2 rounded-md text-sm font-medium" */